# see https://cloud.google.com/ai-platform/training/docs/runtime-version-list
setuptools
tensorflow == 2.4.*
tensorflow_datasets
sklearn
datasets >= 1.8.0
torch >= 1.8
sentencepiece > 0.1.92
transformers == 4.8.*
accelerate == 0.3.*